body {
    background-color: #f0f5ec;
    font-family: Georgia, serif;
}

h1, h2, h3 {
    color: green;
    font-weight: bold;
}

img {
    width: 300px;
    height: auto;
    border: 3px solid green;
}